@using JusNucleo.Bl.Comun
@using JusNucleo.Bl.Personas
@model PersonaNatural
@{
    Layout = "~/Views/Shared/SubLayout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">PERSONA</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        @Html.HiddenFor(model => Model.Id)
                        @Html.HiddenFor(m => Model.Version)
                        <div class="form-group">
                            <label>TIPO IDENTIFICACIÓN</label>
                            @Html.DropDownListFor(x => x.TipoIdentificacion, CatalogoItemList.Get(CatalogoConstantes.CatIdentificacionTipo).ListItems, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.TipoIdentificacion, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label>IDENTIFICACIÓN</label>
                            @Html.TextBoxFor(x => x.Identificacion, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Identificacion, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group has-">
                            @Html.LabelFor(x => x.PrimerApellido)
                            @Html.TextBoxFor(x => x.PrimerApellido, new { @class = "form-control", style = "text-transform:uppercase;" })
                            @Html.ValidationMessageFor(m => m.PrimerApellido, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SEGUNDO APELLIDO</label>
                            @Html.TextBoxFor(x => x.SegundoApellido, new { @class = "form-control", style = "text-transform:uppercase;" })
                            @Html.ValidationMessageFor(m => m.SegundoApellido, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>PRIMER NOMBRE</label>
                            @Html.TextBoxFor(x => x.PrimerNombre, new {@class = "form-control", style = "text-transform:uppercase;" })
                            @Html.ValidationMessageFor(m => m.PrimerNombre, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SEGUNDO NOMBRE</label>
                            @Html.TextBoxFor(x => x.SegundoNombre, new {@class = "form-control", style = "text-transform:uppercase;"})
                            @Html.ValidationMessageFor(m => m.SegundoNombre, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>GENERO</label>
                            @Html.DropDownListFor(x => x.Genero, CatalogoItemList.Get(CatalogoConstantes.CatGenero).ListItems, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Genero, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>ESTADO CIVIL</label>
                            @Html.DropDownListFor(x => x.EstadoCivil, CatalogoItemList.Get(CatalogoConstantes.CatEstadoCivil).ListItems, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.EstadoCivil, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>FECHA NACIMIENTO</label>
                            @Html.TextBoxFor(x => x.FechaNacimiento, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.FechaNacimiento, String.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <div class="row">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                CORREOS
                                <div class="pull-right">
                                    <input value="Agregar" type="button" class="btn btn-default btn-xs dropdown-toggle" onclick="AddCorreo();" />
                                    @*<div id="AddCorreo" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #f5f5f5;border-top-left-radius:4px;border-top-right-radius:3px; ">
                                    AGREGAR CORREO
                                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Correo Electronico</label>
                                                @Html.TextBoxFor(x => x.Correos.NewChild().Correo, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" type="button">Agregar Correo</button>
                                    </div>
                            </div>
                        </div>
                    </div>*@
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="TabCorreos" class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            @foreach (var correo in Model.Correos)
                                            {
                                                @Html.Partial("PersonaCorreo", correo)
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">Telefonos</div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('#FechaNacimiento').datepicker({ viewMode: 'years' });
</script>
<script>
    function AddCorreo() {
        var a = $("table#TabCorreos tbody").children();
        var entrar = true;
        if (a.length != 0) {
            for (var i = 0; i < a.length; i++) {
                var b = a[i];
                var valor = b.children[1].children[0].children[0].value;
                if (valor == null || valor == '') {
                    if (b.style.display != 'none') {
                        entrar = false;
                        break;
                    }
                }
            }
        }
        if (entrar) {
            $.ajax({
                url: getPathApp('PersonaNatural/CrearCorreo'),
                type: 'POST',
                success: function(results) {
                    $("table#TabCorreos tbody").append(results);
                }
            });
        }
    }
</script>
<script>
    $("table").on("click", ".delete-correo", function () {
        $(this).closest('tr').hide();
        $(this).prev('input').val('true');
    });
</script>
