<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PAGINA PRINCIPAL</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="~/BootstrapJus/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/BootstrapJus/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/BootstrapJus/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/BootstrapJus/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/BootstrapJus/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/BootstrapJus/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Sistema Framewoerk name", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Principal", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contactenos", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - AQUIE ESTA MI PARGINA PRINCIPAL</p>
    </footer>
</div>

    <!-- jQuery -->
    <script src="~/BootstrapJus/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/BootstrapJus/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/BootstrapJus/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/BootstrapJus/bower_components/raphael/raphael-min.js"></script>
    <script src="~/BootstrapJus/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/BootstrapJus/js/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
<script src="~/BootstrapJus/dist/js/sb-admin-2.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
